.poke-section {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 2rem 0;
}

.poke-grid {
  background-color: white;
  margin: 0 8rem;
  border-radius: 15px;
  color: black;
  display: flex;
}
