.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(0, 162, 154);
}

.navbar img {
  width: 5rem;
}

.title {
  margin: 0.25rem 3rem;
}

.links {
  display: flex;
  height: 2rem;
  margin: 0 3rem;
}

.links p {
  margin: 0.5rem 0;
  font-weight: bolder;
  color: white;
}

.links select {
  margin: 0.5rem;
  height: 1.2rem;
  width: 7rem;
}

.btn-link {
  margin: 1rem 1rem;
  color: lightcoral;
}